<div class="container">
  <div class="well">
    <h1 class="header">About Us</h1>
    <hr>
    <h4 class="header">- Message Board is a great way of finding answers to questions you may have, or even ask some for other to help answer! The community here is very happy to help anyone with there programming related questions.</h4>
  </div>
</div>
