<p>The Message Board Team will be happy to help you if you need any assistance!</p>

<p>Contact us today!</p>

<p>
  Message Board Headquarters<br>
  1234 Taylor St<br>
  Portland, OR 12345
</p>

<p>(503)-555-1212</p>

<p>messageboard@gmail.com</p>
