<div class="container">
  <div class="jumbotron">
    <h1 class="header">Need to Reach Us?</h1>
    <hr>
    <h3 class="header">Contact us today!</h3>
  </div>
</div>
<div class="container">
  <div class="well">
    <h2 class="header">Info</h2>
    <hr>
    <h3 class="header">
      Message Board Headquarters<br>
      1234 Taylor St<br>
      Portland, OR 12345
    </h3>
    <h3 class="header">(503)-123-1234</h3>
    <h3 class="header">messageboard@gmail.com</h3>
    <hr>
  </div>
</div>
