<div class="container">
  <div class="jumbotron">
    <h1 class="header">Welcome to Message Board</h1>
    <hr>
    <p class="header">Ask a question and find the answer here!</p>
  </div>
  <div class="jumbotron">
    <h2 class="header">Make a New Post here!</h2>
    <div class="newMessageBtn"style='float: center;'>
      {{new-message saveMessage="saveMessage" message=model}}
    </div>
  </div>
  <br>
  <div class="well">
    <h1 class="topicsHeader">Topics</h1>
      <hr>
      <ul>
        {{#each model.messages as |message|}}
          {{message-tile message=message destroyMessage="destroyMessage" update="update"}}
        {{/each}}
      </ul>
  </div>
</div>
