<h1>Welcome to Message Board</h1>

<p>Ask a question and find the answer here!</p>

<ul>
  {{#each model as |message|}}
     <li>User: {{message.user}}<br>Question: {{message.question}}</li>
     <hr>
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
