<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Message Board</h1>
    <p>Ask a question and find the answer here!</p>
  </div>

  <div class="well">
    <ul>
      {{#each model as |message|}}
      {{message-tile message=message destroyMessage="destroyMessage"}}
      {{/each}}
    </ul>

    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Click here to contact us.{{/link-to}}

  </div>
</div>
